* {
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: #f5f0f0;
  }

  .app {
    background-color: #e9ecf2;
  }
  
  .app__body {
    display: flex;
    justify-content: space-between;
  }